/* src/components/VideoPlayer.css */
.video-player {
  margin-left: 1%;
    width: 95%;

    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
  